In [1]:
#Import dependencies

from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd
from pprint import pprint
from urllib.request import urlopen, Request
from datetime import datetime
from config import password

In [2]:
#Decided to find a website to scrape the state abbreviations
url_abv = "https://abbreviations.yourdictionary.com/articles/state-abbrev.html"

In [3]:
response = requests.get(url_abv)
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
#HTML inspect found the values in the li tag
results = soup.find_all('li')

In [5]:
#strip out only the first 50 li tags that contain the abbreviations
ABV = []

In [6]:
for i in range(0, 50):
    results[i].text
    ABV.append(results[i].text)

In [7]:
#Take the new lists and seperate the abbreviations from state names into a new lists
ABV_new = []
State_name = []

In [8]:
#abbreviation list
for i in range(0, 50):
    ABV_clean = ABV[i].split(' - ')[1]
    ABV_new.append(ABV_clean.replace(' ',''))

In [9]:
# #state name list
# for i in range(0, 50):
#     ABV_clean = ABV[i].split(' - ')[0]
#     State_name.append(ABV_clean.replace(' ',''))

In [10]:
#create dataframe
All_States_df = pd.DataFrame({'Abbreviation':ABV_new})
All_States_df.head()

  Abbreviation
0           AL
1           AK
2           AZ
3           AR
4           CA

In [11]:
# for MAC
# print out the location of the driver
# !which chromedriver

# identify location of chromedriver and store it as a variable
driverPath = !which chromedriver

# Setup configuration variables to enable Splinter to interact with browser
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
#Get chromedriver and splinter  up and running for PC
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [13]:
#set url for the article, paragraph, and image

url="https://www.bls.gov/charts/state-employment-and-unemployment/state-unemployment-rates-animated.htm"
browser.visit(url)

In [14]:
browser.click_link_by_partial_text('Show table')

In [15]:
RawData = browser.html

In [16]:
tables = pd.read_html(RawData)

In [17]:
df = tables[0]
clean_df = df.drop([8,51])
#set index to state to make sure all columns are dates
clean_df = clean_df.set_index("State")

#convert all column lables to datetime and format as month-year
clean_df.columns = pd.to_datetime(clean_df.columns).strftime("%b-%Y")

#reset index to get state as it's own column
clean_df = clean_df.reset_index("State")
result = pd.concat([clean_df, All_States_df], axis=1, sort=False)

del result['State']
result.rename(columns = {"Abbreviation": "state"}, 
                                 inplace = True) 

result = result.set_index("state")

result.head()

,Feb-2009,Mar-2009,Apr-2009,May-2009,Jun-2009,Jul-2009,Aug-2009,Sep-2009,Oct-2009,Nov-2009,...,May-2018,Jun-2018,Jul-2018,Aug-2018,Sep-2018,Oct-2018,Nov-2018,Dec-2018,Jan-2019,Feb-2019
state,,,,,,,,,,,,,,,,,,,,,
AL,9.6,10.2,10.7,11.0,11.3,11.5,11.6,11.7,11.8,11.8,...,4.1,4.1,4.0,3.9,3.8,3.8,3.8,3.8,3.8,3.7
AK,7.3,7.4,7.6,7.7,7.8,7.9,8.0,8.0,8.0,8.0,...,6.6,6.6,6.6,6.5,6.5,6.5,6.5,6.5,6.5,6.5
AZ,8.8,9.1,9.4,9.7,9.9,10.2,10.4,10.6,10.8,10.9,...,4.7,4.7,4.7,4.8,4.8,4.9,4.9,4.9,5.1,5.1
AR,7.4,7.6,7.8,7.9,7.9,7.9,8.0,8.0,8.0,8.1,...,3.7,3.7,3.6,3.6,3.6,3.7,3.7,3.7,3.7,3.8
CA,10.1,10.5,10.8,11.0,11.2,11.4,11.5,11.7,11.8,11.9,...,4.2,4.2,4.1,4.1,4.1,4.1,4.1,4.1,4.2,4.2

In [18]:
unemploy_df = result.stack().reset_index()
unemploy_df = unemploy_df.rename(columns={'level_1': 'month-year', 
                                          0: 'unemployment_data'})

unemploy_df = unemploy_df.set_index(['state', 'month-year'], inplace=False)
unemploy_df.head()

                  unemployment_data
state month-year
AL    Feb-2009                  9.6
      Mar-2009                 10.2
      Apr-2009                 10.7
      May-2009                 11.0
      Jun-2009                 11.3

In [23]:
import pymysql
from config import password
pymysql.install_as_MySQLdb()

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

from sqlalchemy import create_engine

In [26]:
dbuser = 'root'
dbpassword = password
dbhost = 'localhost'
dbport = '3306'
dbname= 'project2'

engine = create_engine(f"mysql://{dbuser}:{dbpassword}@{dbhost}:{dbport}/{dbname}")
unemploy_df.to_sql('unemployment', engine, index=True, if_exists="append")

In [27]:
#import dependencies
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
from datetime import datetime

#import Socrata to pull API data...may need to run pip install sodapy
from sodapy import Socrata

#import password for mySQL from config.py.
from config import password

# import app_token (if desired) from app_token.py to prevent limited pull requests
# from app_token import app_token

In [28]:
#call Socrata without app_token
client = Socrata("data.cdc.gov", None)

# # Example authenticated client (needed for non-public datasets):
# client = Socrata("data.cdc.gov", app_token)

#requests result, limit is 25000 to ensure full data is pulled
results = client.get("a3uk-kgrx", limit="25000")

# Convert to pandas DataFrame
drug_df = pd.DataFrame.from_records(results)

#create month and year string from month and year columns
drug_df["month-year"] = drug_df["month"].apply(lambda x: x[:3]) + "-" + drug_df["year"]

#converty month-year column to datetime

# drug_df["month-year"] = pd.to_datetime(drug_df["month-year"])


#drop duplicate entries from dataframe
drug_df = drug_df.drop_duplicates(subset=['indicator', 'state', 'month-year'])
drug_df = drug_df.reset_index(drop=True)
drug_df
# drug_df[(drug_df['year']=="2018") & (drug_df['state']=="MD") & (drug_df['month']=="July") & (drug_df['indicator']=="Number of Deaths")]

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,data_value,footnote,indicator,month,percent_complete,percent_pending_investigation,predicted_value,state,state_name,year,month-year
0,24,Numbers may differ from published reports usin...,Natural & semi-synthetic opioids (T40.2),September,100,0,25,VT,VT,2015,Sep-2015
1,89864,Numbers may differ from published reports usin...,Number of Deaths,August,100,0.364995993946408,NaN,NC,NC,2015,Aug-2015
2,271,Numbers may differ from published reports usin...,Natural & semi-synthetic opioids (T40.2),December,100,0.0042288662409608,273,NV,NV,2015,Dec-2015
3,236,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",November,100,0.0339520144861929,238,NM,NM,2016,Nov-2016
4,85.557639810282,Numbers may differ from published reports usin...,Percent with drugs specified,January,100,0.164728689174528,NaN,US,US,2017,Jan-2017
5,69856,Numbers may differ from published reports usin...,Number of Deaths,March,100,0.284871736142923,NaN,TN,TN,2016,Mar-2016
6,79,Numbers may differ from published reports usin...,"Opioids (T40.0-T40.4,T40.6)",November,100,0,80,VT,VT,2015,Nov-2015
7,6,Numbers may differ from published reports usin...,Psychostimulants with abuse potential (T43.6),March,100,0.0345811359903173,7,NH,NH,2016,Mar-2016
8,10237,Numbers may differ from published reports usin...,Number of Deaths,May,100,0.0879163817524665,NaN,MT,MT,2017,May-2017
9,292,Numbers may differ from published reports usin...,Heroin (T40.1),April,100,0.00754517674576527,293,WA,WA,2015,Apr-2015
10,41,Numbers may differ from published reports usin...,Methadone (T40.3),April,100,0.0214392910741085,42,ME,ME,2015,Apr-2015
11,32,Underreported due to incomplete data.,"Natural & semi-synthetic opioids, incl. methad...",March,100,0,33,VT,VT,2018,Mar-2018
12,8740,Numbers may differ from published reports usin...,Number of Deaths,September,100,0,NaN,DE,DE,2016,Sep-2016
13,1162,Numbers may differ from published reports usin...,Number of Drug Overdose Deaths,January,100,0.033776176536816,1170,IN,IN,2015,Jan-2015
14,98.1481481481482,Numbers may differ from published reports usin...,Percent with drugs specified,May,100,0.0222102944714875,NaN,YC,YC,2015,May-2015
15,60964,Numbers may differ from published reports usin...,Number of Deaths,May,100,0.0229643724165081,NaN,MO,MO,2016,May-2016
16,82813,Numbers may differ from published reports usin...,Number of Deaths,May,100,0.0796976320142973,NaN,GA,GA,2017,May-2017
17,29,Underreported due to incomplete data.,Methadone (T40.3),January,100,0,29,ME,ME,2018,Jan-2018
18,39,Numbers may differ from published reports usin...,Methadone (T40.3),June,100,0.0142694063926941,40,ME,ME,2015,Jun-2015
19,51,Numbers may differ from published reports usin...,Methadone (T40.3),June,100,0.00787835815016151,52,NV,NV,2017,Jun-2017
20,13897,Numbers may differ from published reports usin...,Number of Deaths,March,100,0,NaN,ME,ME,2016,Mar-2016
21,1101,Numbers may differ from published reports usin...,Number of Drug Overdose Deaths,January,100,0.0155863819554229,1106,KY,KY,2015,Jan-2015
22,50,Numbers may differ from published reports usin...,"Synthetic opioids, excl. methadone (T40.4)",October,100,0,51,NV,NV,2016,Oct-2016
23,60,Numbers may differ from published reports usin...,Methadone (T40.3),June,100,0.0226269940038466,61,OR,OR,2015,Jun-2015
24,355,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",September,100,0.00552201443086438,357,WA,WA,2015,Sep-2015
25,166,Numbers may differ from published reports usin...,Methadone (T40.3),August,100,0.0105358535094928,167,MD,MD,2015,Aug-2015
26,294,Numbers may differ from published reports usin...,Psychostimulants with abuse potential (T43.6),July,100,0.00785453402976868,298,NV,NV,2017,Jul-2017
27,98.1762917933131,Numbers may differ from published reports usin...,Percent with drugs specified,January,100,0.0391615694465165,NaN,YC,YC,2016,Jan-2016
28,8216,Numbers may differ from published reports usin...,"Synthetic opioids, excl. methadone (T40.4)",August,100,0.148719883671925,8455,US,US,2015,Aug-2015
29,30641,Numbers may differ from published reports usin...,Number of Deaths,December,100,0.0261088084592539,NaN,CT,CT,2016,Dec-2016
...,...,...,...,...,...,...,...,...,...,...,...
12994,61,Underreported due to incomplete data.,Psychostimulants with abuse potential (T43.6),August,100,0.045967822524233,63,MD,MD,2018,Aug-2018
12995,376,Underreported due to incomplete data.,"Natural & semi-synthetic opioids, incl. methad...",May,100,0.0766328696062249,382,VA,VA,2018,May-2018
12996,555,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",October,100,0.0188956539995801,559,MD,MD,2015,Oct-2015
12997,398,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",January,100,0.0212233760327446,401,VA,VA,2017,Jan-2017
12998,402,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",August,100,0.0373028544144198,406,VA,VA,2017,Aug-2017
12999,365,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",May,100,0.78765821065783,417,UT,UT,2017,May-2017
13000,91,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",April,100,0.0346170488965816,92,NH,NH,2016,Apr-2016
13001,309,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",June,100,0.00787835815016151,311,NV,NV,2017,Jun-2017
13002,362,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",November,100,0.127811860940695,371,NH,NH,2015,Nov-2015
13003,507,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",January,100,0.00858516483516484,510,MD,MD,2015,Jan-2015
13004,107,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",June,100,0.0677441207780896,109,RI,RI,2017,Jun-2017
13005,667,Underreported due to incomplete data.,Number of Drug Overdose Deaths,August,100,0,673,MN,MN,2018,Aug-2018
13006,1003,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",November,100,0.0415479582146249,1012,VA,VA,2017,Nov-2017
13007,429,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",November,100,0.0387161003668811,434,YC,YC,2017,Nov-2017
13008,22,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",January,100,0,23,VT,VT,2015,Jan-2015
13009,377,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",April,100,0.807369276618803,433,UT,UT,2017,Apr-2017
13010,383,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",February,100,0.0184521299029945,385,OK,OK,2016,Feb-2016
13011,16936,Underreported due to incomplete data.,"Natural & semi-synthetic opioids, incl. methad...",January,100,0.150940769196691,17234,US,US,2018,Jan-2018
13012,67,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",July,100,0.0492610837438424,68,NH,NH,2017,Jul-2017
13013,407,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",November,100,0.013802834181952,410,VA,VA,2016,Nov-2016
13014,295,Underreported due to incomplete data.,"Natural & semi-synthetic opioids, incl. methad...",January,100,0.0891611102496511,298,NV,NV,2018,Jan-2018
13015,672,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",March,100,0.0085437224998932,675,MD,MD,2015,Mar-2015
13016,236,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",May,100,0.0911317423249986,240,NM,NM,2016,May-2016
13017,420,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",February,100,0.384615384615385,446,UT,UT,2016,Feb-2016
13018,15406,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",October,100,0.15293214597802,15806,US,US,2015,Oct-2015
13019,304,Underreported due to incomplete data.,"Natural, semi-synthetic, & synthetic opioids, ...",July,100,0.147475453098925,314,NV,NV,2018,Jul-2018
13020,32,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",June,100,0,33,VT,VT,2016,Jun-2016
13021,195,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",April,100,0.0674574175051998,198,NM,NM,2017,Apr-2017
13022,31,Numbers may differ from published reports usin...,"Natural & semi-synthetic opioids, incl. methad...",August,100,0,32,VT,VT,2015,Aug-2015
13023,534,Numbers may differ from published reports usin...,"Natural, semi-synthetic, & synthetic opioids, ...",December,100,0.0381979076035057,539,SC,SC,2016,Dec-2016

In [29]:
drug_df=drug_df.sort_values(by=['state','month-year'])
drug_df = drug_df.set_index(['state', 'month-year'], inplace=False)
drug_pivot = drug_df.pivot_table(values='data_value', index=['state', 'month-year'], columns='indicator', aggfunc=np.sum)

#rename columns
drug_pivot = drug_pivot.rename(columns={"Cocaine (T40.5)": 'Cocaine', "Heroin (T40.1)" : "Heroin", "Methadone (T40.3)": "Methadone", "Opioids (T40.0-T40.4,T40.6)": "Opioids",
                                       "Psychostimulants with abuse potential (T43.6)": "Psychostimulants"})

#drop unneeded columns
drug_pivot = drug_pivot.drop(['Natural & semi-synthetic opioids (T40.2)', 'Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)',"Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)",
                             "Synthetic opioids, excl. methadone (T40.4)"], axis=1)
drug_pivot

indicator        Cocaine Heroin Methadone Number of Deaths  \
state month-year
AK    Apr-2015       NaN    NaN       NaN             4133
      Apr-2016       NaN    NaN       NaN             4262
      Apr-2017       NaN    NaN       NaN             4325
      Apr-2018       NaN    NaN       NaN             4341
      Aug-2015       NaN    NaN       NaN             4222
      Aug-2016       NaN    NaN       NaN             4276
      Aug-2017       NaN    NaN       NaN             4234
      Aug-2018       NaN    NaN       NaN             4382
      Dec-2015       NaN    NaN       NaN             4193
      Dec-2016       NaN    NaN       NaN             4355
      Dec-2017       NaN    NaN       NaN             4279
      Feb-2015       NaN    NaN       NaN             4084
      Feb-2016       NaN    NaN       NaN             4198
      Feb-2017       NaN    NaN       NaN             4347
      Feb-2018       NaN    NaN       NaN             4304
      Jan-2015       NaN    NaN       NaN             4034
      Jan-2016       NaN    NaN       NaN             4213
      Jan-2017       NaN    NaN       NaN             4374
      Jan-2018       NaN    NaN       NaN             4260
      Jul-2015       NaN    NaN       NaN             4220
      Jul-2016       NaN    NaN       NaN             4269
      Jul-2017       NaN    NaN       NaN             4236
      Jul-2018       NaN    NaN       NaN             4337
      Jun-2015       NaN    NaN       NaN             4201
      Jun-2016       NaN    NaN       NaN             4261
      Jun-2017       NaN    NaN       NaN             4276
      Jun-2018       NaN    NaN       NaN             4309
      Mar-2015       NaN    NaN       NaN             4101
      Mar-2016       NaN    NaN       NaN             4230
      Mar-2017       NaN    NaN       NaN             4359
...                  ...    ...       ...              ...
YC    Feb-2018       644    650       190            54919
      Jan-2015       231    299       112            53516
      Jan-2016       308    421       125            53624
      Jan-2017       537    597       178            54566
      Jan-2018       638    644       177            54737
      Jul-2015       242    322       129            54291
      Jul-2016       402    517       149            53502
      Jul-2017       599    616       166            54200
      Jul-2018       662    640       180            55034
      Jun-2015       244    307       124            54107
      Jun-2016       370    501       143            53435
      Jun-2017       601    620       170            54245
      Jun-2018       650    659       180            54998
      Mar-2015       221    292       106            54149
      Mar-2016       344    458       141            53547
      Mar-2017       541    584       166            54145
      Mar-2018       648    671       193            54993
      May-2015       230    306       119            54029
      May-2016       361    482       143            53496
      May-2017       585    602       165            54194
      May-2018       644    675       188            54916
      Nov-2015       283    402       132            54320
      Nov-2016       475    547       165            53882
      Nov-2017       631    647       168            54241
      Oct-2015       272    375       131            54572
      Oct-2016       465    546       161            53545
      Oct-2017       620    644       163            54287
      Sep-2015       266    360       136            54449
      Sep-2016       442    540       147            53533
      Sep-2017       615    634       172            54331

indicator        Number of Drug Overdose Deaths Opioids  \
state month-year
AK    Apr-2015                              126     NaN
      Apr-2016                              132     NaN
      Apr-2017                              117     NaN
      Apr-2018                              141     NaN
      Aug-2015                              124     NaN
      Aug-2016                              138     NaN
      Aug-2017                              137     NaN
      Aug-2018                              110     NaN
      Dec-2015                              121     NaN
      Dec-2016                              129     NaN
      Dec-2017                              141     NaN
      Feb-2015                              127     NaN
      Feb-2016                              128     NaN
      Feb-2017                              124     NaN
      Feb-2018                              139     NaN
      Jan-2015                              126     NaN
      Jan-2016                              126     NaN
      Jan-2017                              126     NaN
      Jan-2018                              138     NaN
      Jul-2015                              117     NaN
      Jul-2016                              143     NaN
      Jul-2017                              128     NaN
      Jul-2018                              115     NaN
      Jun-2015                              121     NaN
      Jun-2016                              138     NaN
      Jun-2017                              122     NaN
      Jun-2018                              124     NaN
      Mar-2015                              125     NaN
      Mar-2016                              125     NaN
      Mar-2017                              126     NaN
...                                         ...     ...
YC    Feb-2018                             1493    1194
      Jan-2015                              794     596
      Jan-2016                              987     741
      Jan-2017                             1483    1193
      Jan-2018                             1488    1188
      Jul-2015                              826     615
      Jul-2016                             1251     983
      Jul-2017                             1503    1208
      Jul-2018                             1483    1168
      Jun-2015                              814     598
      Jun-2016                             1192     933
      Jun-2017                             1509    1218
      Jun-2018                             1467    1159
      Mar-2015                              781     587
      Mar-2016                             1076     815
      Mar-2017                             1466    1174
      Mar-2018                             1515    1212
      May-2015                              810     601
      May-2016                             1146     891
      May-2017                             1488    1198
      May-2018                             1512    1195
      Nov-2015                              944     710
      Nov-2016                             1371    1097
      Nov-2017                             1509    1211
      Oct-2015                              918     689
      Oct-2016                             1344    1069
      Oct-2017                             1507    1210
      Sep-2015                              886     667
      Sep-2016                             1311    1038
      Sep-2017                             1514    1215

indicator        Percent with drugs specified Psychostimulants
state month-year
AK    Apr-2015                            NaN              NaN
      Apr-2016                            NaN              NaN
      Apr-2017                            NaN              NaN
      Apr-2018                            NaN              NaN
      Aug-2015                            NaN              NaN
      Aug-2016                            NaN              NaN
      Aug-2017                            NaN              NaN
      Aug-2018                            NaN              NaN
      Dec-2015                            NaN              NaN
      Dec-2016                            NaN              NaN
      Dec-2017                            NaN              NaN
      Feb-2015                            NaN              NaN
      Feb-2016                            NaN              NaN
      Feb-2017                            NaN              NaN
      Feb-2018                            NaN              NaN
      Jan-2015                            NaN              NaN
      Jan-2016                            NaN              NaN
      Jan-2017                            NaN              NaN
      Jan-2018                            NaN              NaN
      Jul-2015                            NaN              NaN
      Jul-2016                            NaN              NaN
      Jul-2017                            NaN              NaN
      Jul-2018                            NaN              NaN
      Jun-2015                            NaN              NaN
      Jun-2016                            NaN              NaN
      Jun-2017                            NaN              NaN
      Jun-2018                            NaN              NaN
      Mar-2015                            NaN              NaN
      Mar-2016                            NaN              NaN
      Mar-2017                            NaN              NaN
...                                       ...              ...
YC    Feb-2018               99.7990622906899               66
      Jan-2015               98.7405541561713               37
      Jan-2016               98.1762917933131               49
      Jan-2017                99.527983816588               60
      Jan-2018               99.7983870967742               65
      Jul-2015               98.0629539951574               38
      Jul-2016               99.1207034372502               65
      Jul-2017               99.5342648037259               60
      Jul-2018               99.7905027932961               63
      Jun-2015                98.034398034398               34
      Jun-2016               99.0771812080537               63
      Jun-2017               99.4698475811796               56
      Jun-2018               99.8001332445037               71
      Mar-2015               98.4635083226632               29
      Mar-2016               98.5130111524164               55
      Mar-2017               99.4542974079127               61
      Mar-2018               99.8019801980198               64
      May-2015               98.1481481481482               32
      May-2016               98.9528795811518               62
      May-2017               99.4623655913979               57
      May-2018                99.798522498321               69
      Nov-2015               97.9872881355932               42
      Nov-2016               99.3435448577681               59
      Nov-2017               99.8011928429423               68
      Oct-2015               97.8213507625272               37
      Oct-2016               99.2559523809524               60
      Oct-2017               99.8009289980093               68
      Sep-2015               97.9683972911964               38
      Sep-2016               99.2372234935164               63
      Sep-2017                99.669749009247               65

[2332 rows x 8 columns]

In [31]:
#push dataframe contents to mysql

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

dbuser = 'root'
#read in password from config.py file
dbpassword = password
dbhost = 'localhost'
dbport = '3306'

#database name is Project2 (need to create this locally)
dbname= 'project2'

engine = create_engine(f"mysql://{dbuser}:{dbpassword}@{dbhost}:{dbport}/{dbname}")

# stat_cons_df
# drug_df.to_sql('drug', engine, index=True, if_exists="append")
drug_pivot.to_sql('drug', engine, index=True, if_exists="append")

In [35]:
combined_df = drug_pivot.join(unemploy_df)
combined_df

                 Cocaine Heroin Methadone Number of Deaths  \
state month-year
AK    Apr-2015       NaN    NaN       NaN             4133
      Apr-2016       NaN    NaN       NaN             4262
      Apr-2017       NaN    NaN       NaN             4325
      Apr-2018       NaN    NaN       NaN             4341
      Aug-2015       NaN    NaN       NaN             4222
      Aug-2016       NaN    NaN       NaN             4276
      Aug-2017       NaN    NaN       NaN             4234
      Aug-2018       NaN    NaN       NaN             4382
      Dec-2015       NaN    NaN       NaN             4193
      Dec-2016       NaN    NaN       NaN             4355
      Dec-2017       NaN    NaN       NaN             4279
      Feb-2015       NaN    NaN       NaN             4084
      Feb-2016       NaN    NaN       NaN             4198
      Feb-2017       NaN    NaN       NaN             4347
      Feb-2018       NaN    NaN       NaN             4304
      Jan-2015       NaN    NaN       NaN             4034
      Jan-2016       NaN    NaN       NaN             4213
      Jan-2017       NaN    NaN       NaN             4374
      Jan-2018       NaN    NaN       NaN             4260
      Jul-2015       NaN    NaN       NaN             4220
      Jul-2016       NaN    NaN       NaN             4269
      Jul-2017       NaN    NaN       NaN             4236
      Jul-2018       NaN    NaN       NaN             4337
      Jun-2015       NaN    NaN       NaN             4201
      Jun-2016       NaN    NaN       NaN             4261
      Jun-2017       NaN    NaN       NaN             4276
      Jun-2018       NaN    NaN       NaN             4309
      Mar-2015       NaN    NaN       NaN             4101
      Mar-2016       NaN    NaN       NaN             4230
      Mar-2017       NaN    NaN       NaN             4359
...                  ...    ...       ...              ...
YC    Feb-2018       644    650       190            54919
      Jan-2015       231    299       112            53516
      Jan-2016       308    421       125            53624
      Jan-2017       537    597       178            54566
      Jan-2018       638    644       177            54737
      Jul-2015       242    322       129            54291
      Jul-2016       402    517       149            53502
      Jul-2017       599    616       166            54200
      Jul-2018       662    640       180            55034
      Jun-2015       244    307       124            54107
      Jun-2016       370    501       143            53435
      Jun-2017       601    620       170            54245
      Jun-2018       650    659       180            54998
      Mar-2015       221    292       106            54149
      Mar-2016       344    458       141            53547
      Mar-2017       541    584       166            54145
      Mar-2018       648    671       193            54993
      May-2015       230    306       119            54029
      May-2016       361    482       143            53496
      May-2017       585    602       165            54194
      May-2018       644    675       188            54916
      Nov-2015       283    402       132            54320
      Nov-2016       475    547       165            53882
      Nov-2017       631    647       168            54241
      Oct-2015       272    375       131            54572
      Oct-2016       465    546       161            53545
      Oct-2017       620    644       163            54287
      Sep-2015       266    360       136            54449
      Sep-2016       442    540       147            53533
      Sep-2017       615    634       172            54331

                 Number of Drug Overdose Deaths Opioids  \
state month-year
AK    Apr-2015                              126     NaN
      Apr-2016                              132     NaN
      Apr-2017                              117     NaN
      Apr-2018                              141     NaN
      Aug-2015                              124     NaN
      Aug-2016                              138     NaN
      Aug-2017                              137     NaN
      Aug-2018                              110     NaN
      Dec-2015                              121     NaN
      Dec-2016                              129     NaN
      Dec-2017                              141     NaN
      Feb-2015                              127     NaN
      Feb-2016                              128     NaN
      Feb-2017                              124     NaN
      Feb-2018                              139     NaN
      Jan-2015                              126     NaN
      Jan-2016                              126     NaN
      Jan-2017                              126     NaN
      Jan-2018                              138     NaN
      Jul-2015                              117     NaN
      Jul-2016                              143     NaN
      Jul-2017                              128     NaN
      Jul-2018                              115     NaN
      Jun-2015                              121     NaN
      Jun-2016                              138     NaN
      Jun-2017                              122     NaN
      Jun-2018                              124     NaN
      Mar-2015                              125     NaN
      Mar-2016                              125     NaN
      Mar-2017                              126     NaN
...                                         ...     ...
YC    Feb-2018                             1493    1194
      Jan-2015                              794     596
      Jan-2016                              987     741
      Jan-2017                             1483    1193
      Jan-2018                             1488    1188
      Jul-2015                              826     615
      Jul-2016                             1251     983
      Jul-2017                             1503    1208
      Jul-2018                             1483    1168
      Jun-2015                              814     598
      Jun-2016                             1192     933
      Jun-2017                             1509    1218
      Jun-2018                             1467    1159
      Mar-2015                              781     587
      Mar-2016                             1076     815
      Mar-2017                             1466    1174
      Mar-2018                             1515    1212
      May-2015                              810     601
      May-2016                             1146     891
      May-2017                             1488    1198
      May-2018                             1512    1195
      Nov-2015                              944     710
      Nov-2016                             1371    1097
      Nov-2017                             1509    1211
      Oct-2015                              918     689
      Oct-2016                             1344    1069
      Oct-2017                             1507    1210
      Sep-2015                              886     667
      Sep-2016                             1311    1038
      Sep-2017                             1514    1215

                 Percent with drugs specified Psychostimulants  \
state month-year
AK    Apr-2015                            NaN              NaN
      Apr-2016                            NaN              NaN
      Apr-2017                            NaN              NaN
      Apr-2018                            NaN              NaN
      Aug-2015                            NaN              NaN
      Aug-2016                            NaN              NaN
      Aug-2017                            NaN              NaN
      Aug-2018                            NaN              NaN
      Dec-2015                            NaN              NaN
      Dec-2016                            NaN              NaN
      Dec-2017                            NaN              NaN
      Feb-2015                            NaN              NaN
      Feb-2016                            NaN              NaN
      Feb-2017                            NaN              NaN
      Feb-2018                            NaN              NaN
      Jan-2015                            NaN              NaN
      Jan-2016                            NaN              NaN
      Jan-2017                            NaN              NaN
      Jan-2018                            NaN              NaN
      Jul-2015                            NaN              NaN
      Jul-2016                            NaN              NaN
      Jul-2017                            NaN              NaN
      Jul-2018                            NaN              NaN
      Jun-2015                            NaN              NaN
      Jun-2016                            NaN              NaN
      Jun-2017                            NaN              NaN
      Jun-2018                            NaN              NaN
      Mar-2015                            NaN              NaN
      Mar-2016                            NaN              NaN
      Mar-2017                            NaN              NaN
...                                       ...              ...
YC    Feb-2018               99.7990622906899               66
      Jan-2015               98.7405541561713               37
      Jan-2016               98.1762917933131               49
      Jan-2017                99.527983816588               60
      Jan-2018               99.7983870967742               65
      Jul-2015               98.0629539951574               38
      Jul-2016               99.1207034372502               65
      Jul-2017               99.5342648037259               60
      Jul-2018               99.7905027932961               63
      Jun-2015                98.034398034398               34
      Jun-2016               99.0771812080537               63
      Jun-2017               99.4698475811796               56
      Jun-2018               99.8001332445037               71
      Mar-2015               98.4635083226632               29
      Mar-2016               98.5130111524164               55
      Mar-2017               99.4542974079127               61
      Mar-2018               99.8019801980198               64
      May-2015               98.1481481481482               32
      May-2016               98.9528795811518               62
      May-2017               99.4623655913979               57
      May-2018                99.798522498321               69
      Nov-2015               97.9872881355932               42
      Nov-2016               99.3435448577681               59
      Nov-2017               99.8011928429423               68
      Oct-2015               97.8213507625272               37
      Oct-2016               99.2559523809524               60
      Oct-2017               99.8009289980093               68
      Sep-2015               97.9683972911964               38
      Sep-2016               99.2372234935164               63
      Sep-2017                99.669749009247               65

                  unemployment_data
state month-year
AK    Apr-2015                  6.5
      Apr-2016                  6.8
      Apr-2017                  7.0
      Apr-2018                  6.7
      Aug-2015                  6.5
      Aug-2016                  6.9
      Aug-2017                  7.0
      Aug-2018                  6.5
      Dec-2015                  6.7
      Dec-2016                  6.9
      Dec-2017                  6.8
      Feb-2015                  6.5
      Feb-2016                  6.7
      Feb-2017                  6.9
      Feb-2018                  6.7
      Jan-2015                  6.5
      Jan-2016                  6.7
      Jan-2017                  6.9
      Jan-2018                  6.8
      Jul-2015                  6.5
      Jul-2016                  6.9
      Jul-2017                  7.0
      Jul-2018                  6.6
      Jun-2015                  6.5
      Jun-2016                  6.9
      Jun-2017                  7.0
      Jun-2018                  6.6
      Mar-2015                  6.5
      Mar-2016                  6.8
      Mar-2017                  6.9
...                             ...
YC    Feb-2018                  NaN
      Jan-2015                  NaN
      Jan-2016                  NaN
      Jan-2017                  NaN
      Jan-2018                  NaN
      Jul-2015                  NaN
      Jul-2016                  NaN
      Jul-2017                  NaN
      Jul-2018                  NaN
      Jun-2015                  NaN
      Jun-2016                  NaN
      Jun-2017                  NaN
      Jun-2018                  NaN
      Mar-2015                  NaN
      Mar-2016                  NaN
      Mar-2017                  NaN
      Mar-2018                  NaN
      May-2015                  NaN
      May-2016                  NaN
      May-2017                  NaN
      May-2018                  NaN
      Nov-2015                  NaN
      Nov-2016                  NaN
      Nov-2017                  NaN
      Oct-2015                  NaN
      Oct-2016                  NaN
      Oct-2017                  NaN
      Sep-2015                  NaN
      Sep-2016                  NaN
      Sep-2017                  NaN

[2332 rows x 9 columns]

In [34]:
combined_df.to_sql('combined', engine, index=True, if_exists="append")