In [1]:
#Import dependencies

from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd
from pprint import pprint
from urllib.request import urlopen, Request
from datetime import datetime
from config import password

In [2]:
#Decided to find a website to scrape the state abbreviations
url_abv = "https://abbreviations.yourdictionary.com/articles/state-abbrev.html"

In [3]:
response = requests.get(url_abv)
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
#HTML inspect found the values in the li tag
results = soup.find_all('li')

In [5]:
#strip out only the first 50 li tags that contain the abbreviations
ABV = []

In [6]:
for i in range(0, 50):
    results[i].text
    ABV.append(results[i].text)

In [7]:
#Take the new lists and seperate the abbreviations from state names into a new lists
ABV_new = []
State_name = []

In [8]:
#abbreviation list
for i in range(0, 50):
    ABV_clean = ABV[i].split(' - ')[1]
    ABV_new.append(ABV_clean.replace(' ',''))

In [9]:
# #state name list
# for i in range(0, 50):
#     ABV_clean = ABV[i].split(' - ')[0]
#     State_name.append(ABV_clean.replace(' ',''))

In [10]:
#create dataframe
All_States_df = pd.DataFrame({'Abbreviation':ABV_new})
All_States_df.head()

  Abbreviation
0           AL
1           AK
2           AZ
3           AR
4           CA

In [11]:
#for MAC
# print out the location of the driver
# !which chromedriver

# identify location of chromedriver and store it as a variable
# driverPath = !which chromedriver

# # Setup configuration variables to enable Splinter to interact with browser
# executable_path = {'executable_path': driverPath[0]}
# browser = Browser('chrome', **executable_path, headless=False)

In [12]:
#Get chromedriver and splinter  up and running for PC
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
#set url for the article, paragraph, and image

url="https://www.bls.gov/charts/state-employment-and-unemployment/state-unemployment-rates-animated.htm"
browser.visit(url)

In [14]:
browser.click_link_by_partial_text('Show table')

In [15]:
RawData = browser.html

In [16]:
tables = pd.read_html(RawData)

In [17]:
df = tables[0]
clean_df = df.drop([8,51])
#set index to state to make sure all columns are dates
clean_df = clean_df.set_index("State")

#convert all column lables to datetime and format as month-year
clean_df.columns = pd.to_datetime(clean_df.columns).strftime("%b-%Y")

#reset index to get state as it's own column
clean_df = clean_df.reset_index("State")
result = pd.concat([clean_df, All_States_df], axis=1, sort=False)

del result['State']
result.rename(columns = {"Abbreviation": "state"}, 
                                 inplace = True) 

result = result.set_index("state")

result.head()

,Feb-2009,Mar-2009,Apr-2009,May-2009,Jun-2009,Jul-2009,Aug-2009,Sep-2009,Oct-2009,Nov-2009,...,May-2018,Jun-2018,Jul-2018,Aug-2018,Sep-2018,Oct-2018,Nov-2018,Dec-2018,Jan-2019,Feb-2019
state,,,,,,,,,,,,,,,,,,,,,
AL,9.6,10.2,10.7,11.0,11.3,11.5,11.6,11.7,11.8,11.8,...,4.1,4.1,4.0,3.9,3.8,3.8,3.8,3.8,3.8,3.7
AK,7.3,7.4,7.6,7.7,7.8,7.9,8.0,8.0,8.0,8.0,...,6.6,6.6,6.6,6.5,6.5,6.5,6.5,6.5,6.5,6.5
AZ,8.8,9.1,9.4,9.7,9.9,10.2,10.4,10.6,10.8,10.9,...,4.7,4.7,4.7,4.8,4.8,4.9,4.9,4.9,5.1,5.1
AR,7.4,7.6,7.8,7.9,7.9,7.9,8.0,8.0,8.0,8.1,...,3.7,3.7,3.6,3.6,3.6,3.7,3.7,3.7,3.7,3.8
CA,10.1,10.5,10.8,11.0,11.2,11.4,11.5,11.7,11.8,11.9,...,4.2,4.2,4.1,4.1,4.1,4.1,4.1,4.1,4.2,4.2

In [18]:
unemploy_df = result.stack().reset_index()
unemploy_df = unemploy_df.rename(columns={'level_1': 'month-year', 
                                          0: 'unemployment_data'})

unemploy_df = unemploy_df.set_index(['state', 'month-year'], inplace=False)
unemploy_df.head()

                  unemployment_data
state month-year
AL    Feb-2009                  9.6
      Mar-2009                 10.2
      Apr-2009                 10.7
      May-2009                 11.0
      Jun-2009                 11.3

In [19]:
import pymysql
from config import password
pymysql.install_as_MySQLdb()

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

from sqlalchemy import create_engine

In [20]:
dbuser = 'root'
dbpassword = password
dbhost = 'localhost'
dbport = '3306'
dbname= 'project2'

engine = create_engine(f"mysql://{dbuser}:{dbpassword}@{dbhost}:{dbport}/{dbname}")
unemploy_df.to_sql('unemployment', engine, index=True, if_exists="append")

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'month-year' in 'field list'") [SQL: 'INSERT INTO unemployment (state, `month-year`, unemployment_data) VALUES (%(state)s, %(month-year)s, %(unemployment_data)s)'] [parameters: ({'state': 'AL', 'month-year': 'Feb-2009', 'unemployment_data': 9.6}, {'state': 'AL', 'month-year': 'Mar-2009', 'unemployment_data': 10.2}, {'state': 'AL', 'month-year': 'Apr-2009', 'unemployment_data': 10.7}, {'state': 'AL', 'month-year': 'May-2009', 'unemployment_data': 11.0}, {'state': 'AL', 'month-year': 'Jun-2009', 'unemployment_data': 11.3}, {'state': 'AL', 'month-year': 'Jul-2009', 'unemployment_data': 11.5}, {'state': 'AL', 'month-year': 'Aug-2009', 'unemployment_data': 11.6}, {'state': 'AL', 'month-year': 'Sep-2009', 'unemployment_data': 11.7}  ... displaying 10 of 6050 total bound parameter sets ...  {'state': 'WY', 'month-year': 'Jan-2019', 'unemployment_data': 4.0}, {'state': 'WY', 'month-year': 'Feb-2019', 'unemployment_data': 3.9})] (Background on this error at: http://sqlalche.me/e/2j85)

In [ ]:
#import dependencies
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
from datetime import datetime

#import Socrata to pull API data...may need to run pip install sodapy
from sodapy import Socrata

#import password for mySQL from config.py.
from config import password

# import app_token (if desired) from app_token.py to prevent limited pull requests
# from app_token import app_token

In [ ]:
#call Socrata without app_token
client = Socrata("data.cdc.gov", None)

# # Example authenticated client (needed for non-public datasets):
# client = Socrata("data.cdc.gov", app_token)

#requests result, limit is 25000 to ensure full data is pulled
results = client.get("a3uk-kgrx", limit="25000")

# Convert to pandas DataFrame
drug_df = pd.DataFrame.from_records(results)

#create month and year string from month and year columns
drug_df["month-year"] = drug_df["month"].apply(lambda x: x[:3]) + "-" + drug_df["year"]

#converty month-year column to datetime

# drug_df["month-year"] = pd.to_datetime(drug_df["month-year"])


#drop duplicate entries from dataframe
drug_df = drug_df.drop_duplicates(subset=['indicator', 'state', 'month-year'])
drug_df = drug_df.reset_index(drop=True)
# drug_df[(drug_df['year']=="2018") & (drug_df['state']=="MD") & (drug_df['month']=="July") & (drug_df['indicator']=="Number of Deaths")]

In [ ]:
drug_df=drug_df.sort_values(by=['state','month-year'])
drug_df = drug_df.set_index(['state', 'month-year'], inplace=False)
drug_pivot = drug_df.pivot_table(values='data_value', index=['state', 'month-year'], columns='indicator', aggfunc=np.sum)

#rename columns
drug_pivot = drug_pivot.rename(columns={"Cocaine (T40.5)": 'Cocaine', "Heroin (T40.1)" : "Heroin", "Methadone (T40.3)": "Methadone", "Opioids (T40.0-T40.4,T40.6)": "Opioids",
                                       "Psychostimulants with abuse potential (T43.6)": "Psychostimulants"})

#drop unneeded columns
drug_pivot = drug_pivot.drop(['Natural & semi-synthetic opioids (T40.2)', 'Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)',"Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)",
                             "Synthetic opioids, excl. methadone (T40.4)"], axis=1)
drug_pivot

In [ ]:
#push dataframe contents to mysql

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

dbuser = 'root'
#read in password from config.py file
dbpassword = password
dbhost = 'localhost'
dbport = '3306'

#database name is Project2 (need to create this locally)
dbname= 'project2'

engine = create_engine(f"mysql://{dbuser}:{dbpassword}@{dbhost}:{dbport}/{dbname}")

# stat_cons_df
# drug_df.to_sql('drug', engine, index=True, if_exists="append")
drug_pivot.to_sql('drug', engine, index=True, if_exists="append")

In [ ]:
combined_df = drug_pivot.join(unemploy_df)

In [ ]:
combined_df.to_sql('combined', engine, index=True, if_exists="append")